li {
  list-style-type: none;
}

.searchbar{
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
}


.jumbotron{
  padding-left: 50px;
  padding-right: 50px;
}

.temp {
  font-size: 33pt;
  
}
